{% extends 'base.html' %}

{% block content %}


{% if user %}
You're logged in as {{ user.username }}
{% else %}
<p><a href="">Sign Up</a></p>
<p><a href="">Sign In</a></p>
{% endif %}

<div id="list" class="jumbotron">
<table border="0" cellpadding="4" width="100%">
    <tr>
        <td></td>
        <td>Posts</td>
        <td>Last post</td>
        <td></td>
    </tr>
    {% if forums %}
    {% for forum in forums %}
    <tr>
        <td {% if forloop.last %}class="last"{% endif %}>
        <div class="title"> <a href="{% url 'view_forum' forum.id %}">{{ forum.title }}</a>
            </div></td>
        <td {% if forloop.last %}class="last"{% endif %}>{{ forum.post_count }}</td>
        <td {% if forloop.last %}class="last"{% endif %}>
            {{ forum.last_post.short |linebreaksbr }}</td>
    </tr>

    {% endfor %}
    {% endif %}
</div>
{% endblock %}