{% extends 'base.html' %}

{% block content %}
<a id="new_topic" class="button" href="{% url 'forums.views.new_topic' forum.id %}">Start New Topic</a>
<br />
<br />

<div id="list">
<table border="0" cellpadding="4" width="100%">
    <tr>
        <td>Topics</td>
        <td>Replies</td>
        <td>Last post</td>
        <td></td>
    </tr>

    {% for topic in forum.topic_set.all %}
    <tr>
        <td {% if forloop.last %}class="last"{% endif %}>
        <div class="title"> <a href="{% url 'forums.views.view_topic' topic.pk %}">{{ topic.title }}</a>
            </div></td>
        <td {% if forloop.last %}class="last"{% endif %}>{{ topic.post_count }}</td>
        <td {% if forloop.last %}class="last"{% endif %}>
            {{ topic.last_post.short |linebreaksbr }}</td>
        <td {% if forloop.last %}class="last"{% endif %}>
            <a class="button" href="{% url 'forums.views.view_topic' topic.pk %}">VIEW</a>
        </td>
    </tr>

    {% endfor %}
</table>
</div>

{% endblock %}