{% extends 'base.html' %}

{% block content %}
<div class="jumbotron img-rounded">
<a id="new_topic" class="button" href="{% url 'forums.views.new_topic' forum_id %}">Start New Topic</a>
<br />
<br />

<div id="list table">
<table border="0" cellpadding="4" width="100%">
    <tr>
        <td class="page-header h4">Topics</td>
        <td class="page-header h4">Replies</td>
        <td class="page-header h4">Last post</td>
        <td></td>
    </tr>

    {% for topic in forum.topic_set.all %}
    <tr>
        <div class="title col-md-6">
            <td {% if forloop.last %}class="last"{% endif %}>
                <a href="{% url 'forums.views.view_topic' topic.pk %}" style="text-decoration: none;">{{ topic.title }}</a>
            </td>
        </div>

        <div class="col-md-2">
            <td {% if forloop.last %}class="last"{% endif %}>{{ topic.post_count }}</td>
        </div>
        
        <div class="col-md-4">
            <td {% if forloop.last %}class="last"{% endif %}>
            {{ topic.last_post.short |linebreaksbr }}
            </td>
        </div>
    </tr>
    {% endfor %}
</table>
</div>
</div>

{% endblock %}