{% extends 'base.html' %}

{% block page_title %}Add Book to MyBookShelf.home{% endblock %}


{% block content %}

<div class="form-horizontal form-group form-control">
    <div class="addbookform input-lg text-center">
        <div class="lala">
            <form method="POST" action="{% url 'add_book' %}">
                {{ form }}
                {% csrf_token %}
                <br />
                <input class="button" type="submit" value="Submit Book" />
            </form>
        </div>
    </div>
</div>

{% endblock %}