<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'base.css' %}" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="container jumbotron img-rounded">
        <div class="top-header">
            <div class="header row text-center text-uppercase">
                <h1>MyBookShelf.home</h1>
            </div>

            <div class="nav page-header navbar-collapse collapse nav-tabs nav-justified">
                <ul>
                    <li class="active col-md-2"><a href="{% url 'home' %}">Home</a></li>
                    <li class="col-md-2"><a href="{% url 'list_books' %}">Books</a></li>
                    <li class="col-md-2"><a href="{% url 'list_authors' %}">Authors</a></li>
                    <li class="col-md-2"><a href="{% url 'list_genres' %}">Genres</a></li>
                    <li class="col-md-2"><a href="#">Forums</a></li>
                    <li class="col-md-2"><a href="#">About</a></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>