<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    {% load bootstrap_themes %}
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_styles theme='simplex' type='css' %}
</head>
<body>
    <div class="main wrapper">
        <div class="container jumbotron img-rounded">
        <div class="top-header">
                <div class="header row text-center text-uppercase">
                    <h1>MyBookShelf.home</h1>
                </div>

                <div class="nav page-header navbar-collapse collapse nav-tabs nav-justified">
                    <ul style="list-style-type: none;">
                        <li class="active col-md-2"><a href="{% url 'home' %}">Home</a></li>
                        <li class="col-md-2"><a href="{% url 'list_books' %}">Books</a></li>
                        <li class="col-md-2"><a href="{% url 'list_authors' %}">Authors</a></li>
                        <li class="col-md-2"><a href="{% url 'list_genres' %}">Genres</a></li>
                        <li class="col-md-2"><a href="{% url 'forums-home' %}">Forums</a></li>
                        <li class="col-md-2"><a href="{% url 'about' %}">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="footer navbar-fixed-bottom col-md-offset-1">
    <p><h6>© 2014 MyBookShelf.home</h6></p>
    </div>
</body>
</html>