.header h1 {
    color:  #DBFFB8;
    font-family: "Brushstroke", fantasy;
    font-variant: small-caps;
}

.container {
    background-color: #3D4C2E;
    box-shadow: inset 10px 10px 10px 20px #1F331F;
}

.nav ul {   
    list-style-type: none;
}

.nav a {
    color: #CCFF99;
    font-family: "Brushstroke", fantasy;
    font-variant: small-caps;
    font-size: 19px;
}

.bookform {
    position: relative;
    background-size: contain;
    margin-top: -10px;
    margin-left: auto; 
    margin-right: auto; 
    background-color: #CCFF99;
    font-family: "Brushstroke", fantasy;
    font-variant: small-caps;
    text-transform: uppercase;
    color: #2E4C2E;
    box-shadow: inset 1px 1px 1px 2px #1F331F;
}

.main {
    background-color: #141A0F;
    color:  #DBFFB8;
}

.bookview {
    color:  #DBFFB8;
    font-family: "Brushstroke", fantasy;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto; 
    margin-right: auto;
}

.bookview h1 {
    color:  #DBFFB0;
    font-size: 30px;
}

.bookview h3 {
    color:  #DBFFB0;
    font-size: 20px;
}

.lala {
    position: relative;
    background-size: contain;
    margin-top: -10px;
    margin-left: auto; 
    margin-right: auto; 
    background-color: #CCFF99;
    font-family: "Brushstroke", fantasy;
    font-variant: small-caps;
    text-transform: uppercase;
    color: #2E4C2E;
    box-shadow: inset 1px 1px 1px 2px #1F331F;
}

.form-horizontal input {
    display: block;
    text-align: center;
}